<div class="row no-gutters login-page">
    <div class="col-xs-12 col-md-6 col-lg-9 text-white d-flex align-items-center align-content-stretch bg-purple-rp">
        <div class="carousel">
            <div class="items">
                <img class="item" src="assets/images/fondo1.jpg" alt="" />
                <img class="item" src="assets/images/fondo2.jpg" alt="" />
            </div>
        </div>
        <div class="v1-left-menu my-2">
            <div class="px-4 bd-left-4">
                <h1 class="white">Bienvenido</h1>
                <div>Intranet</div>
                <div class="text-opc_6">Sistema de CV</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 bg-white d-flex align-items-center">

        <div class="col-12 p-4 my-4 text-center">
            <div class="col-12 p-4 my-4 img-response ">
                <img class="img" src=" assets/images/logo.jpg ">
            </div>
            <h5 class="mb-4 text-center ">{{titulo}}</h5>
            <router-outlet></router-outlet>
        </div>
        <div class="absolute-bottom p-3 bg-opc font-14 text-muted text-center ">@Copyright 2018 - AXEL</div>
    </div>
</div>